body {
    background-image: url("images/retina_wood.png");
    
  };

@font-face {
    font-family: 'googleSpies';
    src: url('fonts/Google-spies.ttf') format('opentype');
}
@font-face {
  font-family: 'Ncaa';
  src: url('fonts/ncaa.otf') format('opentype');
}

.conference {
  font-family: 'Ncaa';
  font-size: 18px;
}

.ncaa {
  font-family: 'Ncaa';
  font-size: 25px;
}

@media (max-width:420px)  { 
  .standings {
display: none;
  }
  .scoreboard {
    font-size: 8px !important;
  }
  .scoreboard-header {
    font-size: 8px !important;
  }

  .scoreLogo {
    height: 20px;
    width: 20px;
  }
  .teamRecord .placeHolder {
    display: none;
  }
}
