body {
    background-image: url("images/retina_wood.png");
  };

@font-face {
    font-family: 'googleSpies';
    src: url('fonts/Google-spies.ttf') format('opentype');
}
@font-face {
  font-family: 'Ncaa';
  src: url('fonts/ncaa.otf') format('opentype');
}

.conference {
  font-family: 'Ncaa';
  font-size: 18px;
}

.ncaa {
  font-family: 'Ncaa';
  font-size: 16px;
}

.title {
  font-family: 'Ncaa';
  font-size: 24px;
}

.gameKey {
  font-size: 18px;
  font-weight: bold;

}


.card-background {
  background-color: white;
}

.playerFont  {
  font-size: 18px;
}
.deskHide {
  display: none;
}


@media (max-width:740px)  { 
  .standings {
display: none;
  }
  .scoreboard {
    font-size: 9px !important;
  }
  .scoreboard-header {
    font-size: 7px !important;
  }

  .date {
    font-size: 15px !important;
  }

  .scoreLogo {
    height: 18px;
    width: 18px;
  }
  .teamRecord {
    font-size: 5px !important;
  }
  .mobileHide {
    display: none;
  }
  .deskHide {
    display: block;
  }
  .draftLogo {
    font-size: 14px;
  }

  .gameKey {
    font-size: 13px !important;
  }
  
}
