body {
    background-image: url("images/retina_wood.png");
    overflow-x: hidden; 
    overflow-y: auto;
  };


@font-face {
    font-family: 'googleSpies';
    src: url('fonts/Google-spies.ttf') format('opentype');
}
@font-face {
  font-family: 'Ncaa';
  src: url('fonts/ncaa.otf') format('opentype');
}

.conference {
  font-family: 'Ncaa';
  font-size: 18px;
}

.boxtable {
  font-size: 16px;
}

.card {
 cursor:pointer;
  box-shadow: 10px 10px 5px grey;
 }

 .card:hover {
  cursor:pointer;
   box-shadow: 10px 10px 5px dimgray;
  }
 

 .card:active {
   left:10px;
   top:10px;
   box-shadow: none !important;
  }

  .innerTable:hover {
    background-color: lightgrey !important;
  }
 



 .disabled {
  box-shadow: none !important;

 }

 .boxscorebutton {
  cursor:pointer;

  box-shadow: 10px 10px 5px grey;
 }
 

 
.ncaa {
  font-family: 'Ncaa';
  font-size: 16px;
}

.title {
  font-family: 'Ncaa';
  font-size: 24px;
}

.gameKey {
  font-size: 18px;
  font-weight: bold;
}

.teamRecord {
  font-size: 16px !important;
}


.card-background {
  background-color: white;
}

.playerFont  {
  font-size: 18px;
}
.deskHide {
  display: none;
}

.hideBoth {
  display: none;
}

.scoreboard {
  font-size:18px !important;
}
.scoreboard-header {
  font-size: 16px !important;
}
.scoreLogo {
  height: 36px;
  width: 36px;
}

.draftText {
  font-size: 20px;
}

.playerText {
  font-size: 20px;
}

.ui-datepicker-header  {
  /* background-image: url("images/retina_wood.png"); */
  color: black;
  border: none;
  border-bottom: solid;
  background-color: white;

}

.ui-datepicker  {
  background-color: black;
  color: white;
}

.bigScore {
  font-size: 32px;
}

.largeBoxScore {
  font-size: 22px;
}

.ui-datepicker table {
  background-image: url("images/retina_wood.png");
  color: black;
}


.ui-datepicker .ui-state-active {
  background-color: lightcyan !important;
  color: black;
  font-weight: bold;
}

.ui-datepicker .ui-state-highlight {
  background-color: #00bcd4 !important;
  color: white;
  border-color: white;
  font-weight: bold;

}

.ui-datepicker .ui-state-default {
  border-color: white;
  background-color: white ;
}

.ui-datepicker .ui-state-hover {
  background-color: lightcyan ;
  border-color: black;

}



.ui-icon-circle-triangle-e {
  background-color: white;
  color: black;
}
.ui-icon-circle-triangle-w {
  background-color: white;
  color: black;
}



@media (max-width:740px)  { 
  .standings {
display: none;
  }
  .scoreboard {
    font-size: 7px !important;
  }
  .scoreboard-header {
    font-size: 7px !important;
  }

  .date {
    font-size: 12px !important;
  }

  .scoreLogo {
    height: 18px;
    width: 18px;
  }
  .collegeLogo {
    height: 16px;
    width: 16px;
  }

  

  .pageHead {
    font-size: 18px;
  }

  .teamRecord {
    font-size: 7px !important;
  }
  .mobileHide {
    display: none;
  }
  .deskHide {
    display: block;
  }
  .playerText {
    font-size: 13px;
  }

  .playerTextSmall {
    font-size: 9px;
  }

  .draftText {
    font-size: 13px;
  }


  .gameKey {
    font-size: 13px !important;
  }
  .hideBoth {
    display: none;
  }
  .card {
    cursor:pointer;
     box-shadow: 4px 4px 2px grey;
    }
    .largeBoxScore {
      font-size: 12px;
    }
    .boxtable {
      font-size: 10px !important;
    }
    
    
    
}
